[Unit]
Description=Start tmux in detached session
; After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -d -s default
ExecStop=/usr/bin/tmux kill-session -t default
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
