[Unit]
Description=Start tmux in detached session
After=default.target

[Service]
Type=oneshot
RemainAfterExit=yes
SupplementaryGroups=
ExecStart=/usr/bin/tmux new-session -d -s default

[Install]
WantedBy=default.target

